# Cherry Blossom Data Analysis

In [17]:
select.cols <- function(col.names, header.row, search.locs) {
    sapply(col.names, function(name, header.row, search.locs) {
        start.pos <- regexpr(name, header.row)[[1]]
        if (start.pos == -1) {
            return(c(NA, NA))
        }
        
        index <- sum(start.pos >= search.locs)
        c(search.locs[index] + 1, search.locs[index + 1] - 1)
    }, header.row=header.row, search.locs=search.locs)
}

In [18]:
read.cherry <- function(file.name) {
    flat.file <- readLines(file.name)
    eq.index <- grep('^===', flat.file)
    
    spacer.row <- flat.file[eq.index]
    header.row <- tolower(flat.file[eq.index - 1])
    body <- flat.file[-(1:eq.index)]
    
    blank.locs <- gregexpr(" ", spacer.row)
    search.locs <- c(0, blank.locs[[1]])
    if (substr(spacer.row, nchar(spacer.row), nchar(spacer.row)) != " ") {
        search.locs <- c(search.locs, nchar(spacer.row))
    }
    
    short.col.names <- c("name", "home", "ag", "gun", "net", "time")
    loc.cols <- select.cols(short.col.names, header.row, search.locs)
    
    values <- mapply(substr, list(body), start=loc.cols[1,], stop=loc.cols[2,])
    colnames(values) <- short.col.names
    
    return(values)
}

## Read men's data

In [19]:
men.files <- paste("MenTxt/", 1999:2012, ".txt", sep="")
men.files

 [1] "MenTxt/1999.txt" "MenTxt/2000.txt" "MenTxt/2001.txt" "MenTxt/2002.txt"
 [5] "MenTxt/2003.txt" "MenTxt/2004.txt" "MenTxt/2005.txt" "MenTxt/2006.txt"
 [9] "MenTxt/2007.txt" "MenTxt/2008.txt" "MenTxt/2009.txt" "MenTxt/2010.txt"
[13] "MenTxt/2011.txt" "MenTxt/2012.txt"

In [21]:
men.data <- lapply(men.files, read.cherry)
length(men.data)

[1] 14

In [25]:
men.data <- lapply(men.data, as.data.frame)
class(men.data[[1]])

[1] "data.frame"

## Read women's data

In [20]:
women.files <- paste("WomenTxt/", 1999:2012, ".txt", sep="")
women.files

 [1] "WomenTxt/1999.txt" "WomenTxt/2000.txt" "WomenTxt/2001.txt"
 [4] "WomenTxt/2002.txt" "WomenTxt/2003.txt" "WomenTxt/2004.txt"
 [7] "WomenTxt/2005.txt" "WomenTxt/2006.txt" "WomenTxt/2007.txt"
[10] "WomenTxt/2008.txt" "WomenTxt/2009.txt" "WomenTxt/2010.txt"
[13] "WomenTxt/2011.txt" "WomenTxt/2012.txt"

In [26]:
women.data <- lapply(women.files, read.cherry)
length(women.data)

[1] 14

In [27]:
women.data <- lapply(women.data, as.data.frame)
class(women.data[[1]])

[1] "data.frame"

# Convert age values to numeric

In [29]:
class(women.data[[1]]$ag)

[1] "factor"

In [30]:
convert.age <- function(x) {
    x$ag <- as.numeric(x$ag)
    return(x)
}

men.data <- lapply(men.data, convert.age)
women.data <- lapply(women.data, convert.age)

class(women.data[[1]]$ag)

[1] "numeric"

# Convert time to numeric